a {
  color: #363434;
  text-decoration: underline;
}

a:hover {
  color: #f59b78;
  text-decoration: none;
}

body {
  background: #f7f7f7;
  color: #363434;
  font-family: mostra-nuova, sans-serif;
  font-size: 18pt;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-size: 16pt;
  line-height: 38px;
  text-align: center;
  transition: all 200ms ease-in-out;
  width: 200px;
  z-index: 3;
}

footer {
  background: white;
  color: #363434;
  position: relative;
  font-size: 16pt;
  padding: 50px;
}

h1 {
  font-family: lust-display, serif;
  font-size: 60pt;
  font-style: normal;
  font-weight: 400;
}

h3 {
  font-family: lust-display, serif;
  font-size: 30pt;
  font-style: normal;
}

.about {
  display: block;
  margin: 0 auto;
  padding: 0 0 0 0;
  width: 100%;
  z-index: 1;
}

.about-title {
  background: #f59b78;
  padding: 60px;
  width: 100%;
  z-index: 2;
}

.about-text,
.quotes {
  font-size: 18pt;
  line-height: 35px;
  padding: 40px;
  text-align: justify;
  z-index: 2;
}

.buttons {
  text-align: center;
}

.buttons-title {
  display: block;
  margin: 0 auto;
  font-family: lust-display;
  font-size: 30pt;
  padding: 20px 0 10px 0;
  text-align: center;
}

.button-pink {
  background: #db7f96;
  border: #db7f96;
  text-decoration: none;
}

.button-pink:hover {
  background: white;
  border: 2px solid #db7f96;
  cursor: pointer;
}

.button-orange {
  background: #f59b78;
  border: #f59b78;
  text-decoration: none;
}

.button-orange:hover {
  background: white;
  border: 2px solid #f59b78;
  cursor: pointer;
}

.button-yellow {
  background: #f5d27f;
  border: #f5d27f;
  text-decoration: none;
}

.button-yellow:hover {
  background: white;
  border: 2px solid #f5d27f;
  cursor: pointer;
}

.coded {
  font-size: 16pt;
  text-align: left;
}

.contact {
  display: block;
  margin: 0 auto;
  background: #f5d27f;
  padding: 120px;
}

.content {
  background: #f7f7f7;
  padding: 20px 0 40px 0;
}

.content a {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}

.fixed-header {
  top: 0;
  color: #363434;
  background: white;
  font-size: 20pt;
  position: fixed;
  width: 100%;
  padding: 30px 0 30px 0;
  z-index: 5;
}

.footer a:hover {
  color: #f59b78;
  text-decoration: none;
}

.github-line {
  font-size: 12pt;
  padding: 40px 0 0 0;
}

.github-line a {
  text-decoration: none;
}

.headerlink {
  color: #4d4d4d;
  text-decoration: none;
}

.headerlink:hover {
  color: #f59b78;
  text-decoration: none;
}

.image {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.image-caption {
  font-size: 14pt;
  color: #4d4d4d;
  opacity: 0.5;
  z-index: 1;
  text-decoration: none;
}

.i-do {
  display: block;
  margin: 0 auto;
  color: #f59b78;
  padding: 6px;
  text-align: center;
}

.name {
  font-size: 20pt;
}

.quote {
  text-align: justify;
}

.quoter {
  text-align: left;
}

.say-hi {
  color: white;
}

.say-hi:hover {
  color: #f59b78;
  text-decoration: none;
}

.socials-link {
  text-decoration: none;
}

.testimonials {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 0 0 120px 0;
  z-index: 1;
}

.testimonials-title {
  background: #facab6;
  padding: 60px;
  width: 100%;
  z-index: 2;
}
